@font-face {
  font-family: christmas-second;
  src: url(../fonts/ChopinScript.ttf);
}

.advent-calendar-banner__big_grid {
  margin: auto;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 1200px;

  padding: 0px 20px;
}

.advent-calendar-banner__small_grid {
  display: grid;
  z-index: 3;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  justify-content: center;
  align-content: center;
  color: black;
  background-color: rgba(255, 103, 105, 0);

  border-radius: 5px;
  aspect-ratio: 1/1;

  padding: 0;
}

.advent-calendar-banner__present {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  list-style: none;
  text-align: center;

  background-color: #ffe9dc;
  box-shadow: 2px 2px 1px 2px rgba(195, 0, 4, 0.7);
}

.advent-calendar-banner__present:hover {
  cursor: pointer;
  scale: 1.03;
  box-shadow: 3px 3px 2px 3px rgba(195, 0, 4, 0.7);
  transition-property: scale, box-shadow;
  transition: 250ms ease-out;
}

.advent-calendar-banner__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.8em;
  text-decoration: none;
  color: #c30004;
  font-family: christmas-second;
  text-align: center;
}

.advent-calendar-banner__day {
  position: absolute;
  top: 0px;
  left: 10%;
  text-align: center;
  display: inline-block;
  font-weight: 700;
}

.advent-calendar-banner__present-image {
  border-radius: 25%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.advent-calendar-banner__present:hover .advent-calendar-banner__present-image {
  animation: shake 1s;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .advent-calendar-banner__big_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 800px;
  }
  .advent-calendar-banner__small_grid {
    display: grid;
    z-index: 3;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    aspect-ratio: 4/6;
    .div2 {
      grid-area: 1 / 3 / 2 / 4;
    }
  }

  .advent-calendar-banner__link {
    font-size: 1.5em;
  }
}

@media (max-width: 760px) {
  .advent-calendar-banner__big_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .advent-calendar-banner__small_grid {
    grid-template-columns: repeat(6, 90px);
    grid-template-rows: repeat(4, 90px);
    aspect-ratio: 6/4;

    color: white;

    padding: 0;
  }

  .advent-calendar-banner__present-image {
    width: 60px;
    height: 60px;
  }

  .advent-calendar-banner__link {
    font-size: 1.2em;
  }
}

@media (max-width: 580px) {
  .advent-calendar-banner__small_grid {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 70px);
    aspect-ratio: 4/6;

    color: white;

    padding: 0;
  }

  .advent-calendar-banner__present-image {
    border-radius: 25%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    scale: 1;
  }
  10% {
    transform: translate(-1px, -2px) rotate(-5deg);
    scale: 1.1;
  }
  20% {
    transform: translate(-3px, 0px) rotate(10deg);
    scale: 1.2;
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
    scale: 1.3;
  }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
    scale: 1.35;
  }
  50% {
    transform: translate(-1px, -2px) rotate(-10deg);
    scale: 1.4;
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
    scale: 1.35;
  }
  70% {
    transform: translate(3px, 1px) rotate(-10deg);
    scale: 1.3;
  }
  80% {
    transform: translate(-1px, -1px) rotate(10deg);
    scale: 1.2;
  }
  90% {
    transform: translate(1px, -2px) rotate(0deg);
    scale: 1.1;
  }
  100% {
    transform: translate(1px, -2px) rotate(-5deg);
    scale: 1;
  }
}
