// The CSS
.advent-calendar-banner {
  height: 100%;
  background-color: #9ddad3;
  background: url('../images/Christmas_7.jpg'),
    linear-gradient(
      #9ddad3 0%,
      rgba(136, 218, 211, 1) 29%,
      rgba(136, 218, 211, 1) 100%
    );
  background-position: center;

  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y: 0px;
}
